body {
    color: red;
    /*background-color:;*/


    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


header{
    background-color: aquamarine;
    padding: 20px;
}


.profile{
    text-align: center;
}


.profile img {
    width: 100px;
    border-radius: 20px;
}


.all-skills{
    padding: 20px;
}




.exact-skill{
    display: none;
}


.skill:hover .exact-skill{
    display: block;
}
